output {
  elasticsearch { 
    hosts => "{{ elasticsearch_url }}:{{ elasticsearch_port }}"
    manage_template => false
    index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
  }
}
