output {
  elasticsearch { 
    hosts => "{{ elasticsearch_url }}:{{ elasticsearch_port }}"
    template => "/etc/filebeat/filebeat.template.json"
    template_name => "filebeat*"
    manage_template => true
    index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
  }
}
